 <p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Test Name</th>
      <th>Subject Name</th>
      <th>Student Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.id %></td>
        <td><%= Test.find(evaluation.test_id).title %></td>
        <td><%= Subject.find(Test.find(evaluation.test_id).subject_id).sub_name %></td>
        <td><%= Student.find(evaluation.student_id).nom %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
