<p id="notice"><%= notice %></p>

<p>
  <h2>Title: <%= @test.title %></h2>
  
</p>
<p>
  <h3>Subject name:
  <%= Subject.find(@test.subject_id).sub_code %>
 -
  <%= Subject.find(@test.subject_id).sub_name %>
  </h3>
</p>
<p>
  <h4>Objective:
  <%= @test.objective %>
  </h4>
</p><hr/>
<% @test.questions.each do |question| %>
  <div class="card-box">
      <p><b><%= question.question.html_safe %></b></p><hr/>

      <% question.answers.each do |answer| %>
      

      <% if answer.correct? %>
        <div class="checkbox checkbox-custom">
                                                <input id="checkbox10" disabled="" checked="" type="checkbox">
                                                <label for="checkbox10">
                                                    <p class="text-custom"><%= answer.ans_name %></p>
                                                </label>
                                            </div>

       
      <% else %>
      <div class="checkbox">
                                                <input disabled="" checked="" type="checkbox">
                                                <label >
                                                    <p><%= answer.ans_name %></p>
                                                </label>
                                            </div>
      <% end %>
     
      
      <% end %>
  </div>
<% end %>


<b><%= link_to 'Edit', edit_test_path(@test) , :class => 'btn btn-primary'%> </b>

